page-page1 {
  .disabled-buttons.correct-answer {
    background-color: green;
  }
}

.correct {
  > div{
    background-color: green !important;
  }
}
.incorrect{
  > div {
    background-color: red !important;
  }
}
