<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Species Quiz</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <img *ngIf="question" (click)="showNextImg()" src="{{img}}" />
</ion-content>

<ion-footer *ngIf="question">
  <button *ngFor="let ans of question.a"
          ion-button color="light" full
          [disabled]="buttonsDisabled && !ans.correct" 
          [class.disabled-buttons]="buttonsDisabled"
          [class.correct-answer]="ans.correct"
          (click)="clickAnswer(ans.correct)">
    {{ ans.common_name }}
  </button> 
</ion-footer>
