<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Species Quiz</ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding *ngIf="question">
  <img (click)="showNextImg()" src="{{img}}" />

  <ion-footer>
    <button [disabled]="buttonsDisabled" [class.disabled-buttons]="buttonsDisabled" [class.correct-answer]="ans.correct" ion-button color="light" full *ngFor="let ans of question.a" (click)="clickAnswer(ans.correct)">
      {{ ans.common_name }}
    </button> 
  </ion-footer>
</ion-content>
